* {
  font-family: "Raleway", sans-serif !important;
}

header,
section,
footer {
  display: flex;
  justify-content: center;
}

.container {
  width: 1170px;
}

header {
  background-color: #6500ff;
}
header .container {
   display: flex;
   justify-content: space-between;
   padding: 50px;
   align-items: center;
}
header .logo {
  position: relative;
}
header nav {
margin-left: 380px;
margin-right: 100px;
}
header nav a:not(:last-of-type){
  margin-right: 50px;
}
header button {
  padding: 0px 30px;
  background-color: #FF5F60;
  color: #fff;
  border-radius: 35px;
  height: 45px;
}
header .logo span {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;

  position: absolute;
  bottom: -5px;
  left: 25px;

  color: #fff;
}

a {
  font-size: 18px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}
#banner {
  background-color: #6500ff;
  color: #fff;
}
#banner .container {
  display: flex;
  align-items: center;
  
}
#banner h1{
  font-size: 55px;
  font-weight: bold;
}