* {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500;
}

header,
section,
footer {
  display: flex;
  justify-content: center;
  color: #fff;
}

.container {
  width: 1170px;
}

header {
  background-color: #6500ff;
}
header .container {
   display: flex;
   justify-content: space-between;
   padding: 50px;
   align-items: center;
}
header .logo {
  position: relative;
}
header nav {
margin-left: 380px;
margin-right: 100px;
}
header nav a:not(:last-of-type){
  margin-right: 50px;
}
button {
  padding: 0px 30px;
  background-color: #FF5F60;
  border-radius: 35px;
  height: 45px;
  color: #fff;
}
button:hover {
  background-color: #FF2C2D;
  transition: .3s;
}
header .logo span {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;

  position: absolute;
  bottom: -5px;
  left: 25px;
}

a {
  font-size: 18px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}
#banner {
  background-color: #6500ff;
  padding: 100px;
}
#banner .container {
  display: flex;
  align-items: center;

}
#banner h1{
  font-size: 55px;
  font-weight: bold;
}
#banner p{
  margin-top: 40px;
  margin-bottom: 50px;
}

#admission {
  border-top: 15px solid #1F3148;
  background-color: #FF5F60;
  padding: 50px;
}

#admission .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#admission h3 {
  font-size: 30px;
  font-weight: bold;
}

.line {
  width: 77px;
  height: 2px;
  background-color: #fff;

  margin-top: 10px;
  margin-bottom: 20px;
}

#admission p {
  font-size: 20px;
}

#admission form {
  position: relative;
  margin-top: 30px;
}

#admission form input {
  padding: 15px 30px;
  border: none;
  border-radius: 35px;
  width: 300px;
}

#admission form button {
  position: absolute;
  right: 0;

  height: 100%;

  background-color: #1F3148;

  border: none;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#admission form button:hover {
  background-color: #121D2B;
  transition: .3s;
}

#admission form button img {
  width: 25px;
}

#cite .container {
  width: 550px;
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
}
#cite span {
  margin-bottom: 20px;
  font-style: italic;
}
#cite {
  margin-top: 50px;
}
#cite b {
  font-weight: bold;
  color:#FB8122;
}
#cite ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#cite li {
  width: 10px;
  height: 10px;
  background-color: #FB8122;
  border-radius: 50%;
  opacity: 0.3;
}
#cite li:not(:last-of-type){
  margin-right: 10px;
}
#cite li.active, #cite li:hover {
  opacity: 1;
}
.infoblock, .list{
  margin-top: 150px;
}
.infoblock .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoblock img {
  margin-right: 120px;
}
.infoblock.inverted img {
  margin-right: 0;
  margin-left: 120px;
}
.infoblock h3 {
  color: #333;
  font-size: 36px;
  font-weight: 500;
}
.infoblock p {
  width: 500px;
  margin-top: 50px;
  font-size: 17px;
  color: #8c8c8c;
}
.infoblock button{
  margin-top: 50px;
}
.list .container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.list .item{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list h3 {
  color: #333;
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px;
}
.list p {
  color: #8c8c8c;
  max-width: 300px;
  font-size: 17px;
  margin-top: 25px;
  text-align: center;
}
.img-block {
  width: 136px;
  height: 136px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.img-block.global{
  background-color: #4BD2FF;
  box-shadow: 0px 5px 25px 13px rgba(75, 210, 255, 0.27);
}
.img-block.brainstorm{
  background-color: #694bff;
  box-shadow: 0px 5px 25px 13px rgba(105, 75, 255, 0.27);
}
.img-block.graduation{
  background-color: #ffb14b;
  box-shadow: 0px 5px 25px 13px rgba(255, 177, 75, 0.27);
}
footer {
  margin-top: 100px;
}
footer .container{
  border-top: 2px solid #f3f0ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.copyright {
  font-size: 14px;
  color: #c9c9c9;
}
.copyright .divider{
  margin: 0 15px;
}
footer a {
  color: #c9c9c9;
  margin-right: 50px;
}
footer a:last-of-type {
  margin-right: 0;
}
footer a:hover {
color: #FB8122;
transition: .3s;
}
@media screen and (max-width:1170px) {
  .container {
    width: 1024px;
  }
  header nav{
    margin-left: 160px;
  }
  .infoblock .container{
    flex-direction: column;
  }
  .infoblock.inverted .container{
    flex-direction: column-reverse;
  }
  .infoblock img{
    margin: 0;
    margin-bottom: 30px;
  }
  .infoblock h3{
    text-align: center;
  }
  .infoblock p{
    width: auto;
  }
}
@media screen and (max-width:1024px) {
  .container {
    width: 768px;
  }
  header nav{
    margin-left: 50px;
    margin-right: 50PX;
  }
  #banner .container{
    flex-direction: column-reverse;
  }
  #banner img {
    margin-bottom: 30px;
  }
  .list .item {
    width: 100%;
    margin-bottom: 50px;
  }
  footer .container{
    flex-direction: column-reverse;
    align-items: start;
  }
}
@media screen and (max-width:768px) {
  .container {
    width: 425px;
  }
  header .container{
    flex-direction: column;
  }
  header nav{
    margin: 0;
  }
  #banner img, .infoblock img{
    width: 100%;
  }
}
@media screen and (max-width:425px) {
  .container {
    width: 300px;
  }
  header nav{
    flex-direction: column;
    display: flex;
  }
  header nav a:not(:last-of-type){
    margin: 0;
  }
  #admission form input {
    width: 150px;
  }
  }